<div class="contain feature-container">

  <!-- Featurette Section -->
  <div class="row featurette align-items-center">
    <div class="col-md-7 order-md-2 text-feature">
      <h2 class="featurette-heading fw-bold lh-1 highlight-text">Oh yeah, it’s a good choice.</h2>
      <p class="lead">Make your world colourful like these colours! Here you will get all types of colours, brushes, and
        more. Transform your creative space with our vibrant collection.</p>
      <a href="#shop" class="btn btn-gradient">Shop Now</a>
    </div>

    <div class="col-md-5 order-md-1 image-feature">
      <img src="../../assets/images/bg11.avif" alt="colors" class="feature-img">
    </div>
  </div>

  <!-- Footer -->
  <footer class="fabulous-footer d-flex flex-wrap justify-content-between align-items-center py-4 mt-5 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1">
        <img src="../../assets/images/update_bg.avif" alt="award" class="footer-award">
      </a>
      <span class="footer-copy">&copy; 2023 Private, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-center list-unstyled d-flex footer-social">
      <li class="ms-3">
        <a href="https://www.instagram.com" target="_blank">
          <img class="social-icon" src="../../assets/images/insta.png" alt=""> govindpal18nov
        </a>
      </li>
      <li class="ms-3">
        <a href="https://www.linkedIn.com" target="_blank">
          <img class="social-icon" src="../../assets/images/linked.png" alt=""> govind-pal
        </a>
      </li>
      <li class="ms-3">
        <a href="tel:7067438509" target="_blank">
          <img class="social-icon" src="../../assets/images/phone.jpeg" alt=""> 7067438509
        </a>
      </li>
    </ul>
  </footer>

</div>