<div class="store-container">

    <!-- HERO HEADER -->
    <section class="hero">
        <h1>Free shipping orders above 899</h1>
    </section>

    <!-- SEARCH & FILTER -->
    <section class="filter-section">

        <input type="text" placeholder="Search products..." [(ngModel)]="searchText" class="search-input" />

        <select [(ngModel)]="selectedCategory" class="category-select">
            <option value="">All Categories</option>
            <option *ngFor="let cat of categories">{{ cat }}</option>
        </select>

    </section>

    <!-- PRODUCTS GRID -->
    <section class="products-section">

        <div class="products-grid">

            <div class="product-card" *ngFor="let product of filteredProducts()">

                <div class="image-box">
                    <!-- STOCK BADGE -->
                    <div class="stock-badge" *ngIf="product.availableQty > 0 && product.availableQty <= 5">
                        Only {{ product.availableQty }} left
                    </div>

                    <div class="out-badge" *ngIf="product.availableQty === 0">
                        Out of Stock
                    </div>
                    <img [src]="imageUrl + product.image" [alt]="product.name" />
                </div>

                <div class="product-info">
                    <h3>{{ product.name }}</h3>
                    <p class="category">{{ getCategory(product) }}</p>

                    <div class="bottom-row">

                        <span class="price">₹ {{ product.unitPrice }}</span>

                        <!-- STOCK DISPLAY -->
                        <span class="stock" *ngIf="product.availableQty > 0">
                            In Stock: {{ product.availableQty }}
                        </span>

                        <!-- IF NOT IN CART -->
                        <button *ngIf="!isInCart(product) && product.availableQty > 0" class="buy-btn"
                            (click)="addToCart(product)">
                            Add
                        </button>

                        <!-- IF IN CART AND STOCK > 0 -->
                        <div class="qty-controls" *ngIf="isInCart(product)">

                            <button (click)="decrease(product)">−</button>

                            <span>{{ getCartItem(product)?.quantity }}</span>

                            <button (click)="increase(product)" [disabled]="product.availableQty === 0">
                                +
                            </button>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </section>

</div>