body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

#top-table {
  width: 100%;
  margin-left: 20px;
}

.date-input {
  width: 200px;
  display: inline;
  border-radius: 4px;
}

.topImg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
}

.contain {
  background: url('../../assets/images/bg6.avif') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  /* Ensures the background covers the entire page */
  position: relative;
}

#top-para {
  font-size: 30px;
  color: black;
  background: linear-gradient(red, purple, pink, white, green, orange);
  min-width: fit-content;
  display: block;
  margin: auto;
  border-radius: 12px;
}

.scroll-stop {
  overflow-x: hidden !important;
}